*{
    font-family: 'Nunito', sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #FAF3E3;
}

main{
    width: 100%;
}

/*700 900 default*/
    p{
        margin: 5%;
    }

    .landing img{
        width: 439px;
        align-items: center;
        justify-content: center;
        background: url(images/landing/hug.png);
    }

    .center2{
        /* display: grid; */
        justify-content: center;
        align-items: center;
        /* padding: 10%; */
        width: 100%;
    }
    
    .landing h1{
        font-size: 1.5rem;
        /* margin: 0px; */
        padding: 0 20% 0 20%;
    }

    .landing h3{
        font-size: 1.25rem;
    }

    .landing p{
        font-size: 1rem;
        padding: 0 9% 0 9%;
        /* margin: 0px; */
    }
    
    .center1{
        padding:0;
        width: 100%;
    }
    
    .landing {
        display: grid;
        padding: 0 10% 10% 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        background: url(images/landing/hug.png);
        padding-bottom: 0;
    }

    .skip a{
        position: absolute;
        top: -40px;
    }
    
    .skip a:focus{
        position: absolute;
        top: 20px;
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }

    .btn{
        background-color: transparent;
        border: 5px solid #FFC98B;
        border-radius: 10px;
    }

    .btn:active{
        background-color: #FFC98B;
        /* color: #ffffff; */
        border-radius: 10px;
    }
    
    .fa-solid{
        background-color: transparent;
    }

    .about{
        /* padding: 10%; */
        width: 100%;
        padding: 5%;
    }
    
    .about img{
        width: 60%;
        border-radius: 20%;
        /* padding: 5%; */
    }
    .snailcolumns{
        box-sizing: border-box;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 10% ;
    }

    .snailcolumns img{
        width: 100%;
        display: grid;
        justify-content: center;
        object-fit: fill;
    }
    .boxlanding{
        background-color:#FFC98B;
        border-radius: 10px;
        padding: 10%;
        margin: 5%;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
    .boxlanding p{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10%;

    }

    .firstsection{
        padding-bottom: 15%;
    }
    
    .about{
        padding-bottom: 15%;
    }
    
    .howto{
        padding: 10%;
    }
    
    .signup{
        /* padding: 50%; */
        padding-bottom: 0;
        /* display: flex; */
        flex-direction: row;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .signup img{
        position: relative;
        bottom: 0;
    }

    .signup h1{
        padding-right: 20%;
        padding-left: 20%;
        padding-top: 15%;
        /* padding-bottom: 25%; */
    }

    .stepone img{
        width: 75%;
        padding: 5%;
    }
    .steptwo img{
        width: 75%;
        padding: 5%;
    }
    .stepthree img{
        width: 75%;
        padding: 5%;
    }

    #signupbtn{
        /* display: grid; */
        justify-content: center;
        width: 50%;
        align-items: center;
    }
    
    

@media screen and (min-width:700px){

    .navbar-brand{
        padding: 1%;
    }

    main img{
        width: 100%;
    }

    .skip a{
        position: absolute;
        top: -40px;
    }
    
    .skip a:focus{
    position: absolute;
    top: 20px;
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }
    
    .firstsection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0;

    }

    .landing{
        padding: 0;
        width: 100%;
    }

    .center1 img{
        width: 100%;
    }

    .center1{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .center2{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 15%;
        text-align: left;
    }
    .center2 button{
        justify-content:center;
        width: 50%;
    }
    .landing h1{
        font-size: 3rem;
    }
    .landing p{
        font-size: 1.5rem;
    }

    .signup{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .signup img{
        display: grid;
        width: 80%;
        justify-content:center;
    }
}

@media screen and (min-width:1500px){

    .navbar-brand{
        padding: 1%;
    }

    main img{
        width: 100%;
    }

    .skip a{
        position: absolute;
        top: -40px;
    }
    
    .skip a:focus{
    position: absolute;
    top: 20px;
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
    }
    
    .firstsection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0;

    }

    .landing{
        padding: 0;
        width: 100%;
    }

    .center1 img{
        width: 100%;
    }

    .center1{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .center2{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 15%;
        text-align: left;
    }
    .center2 button{
        justify-content:center;
        width: 50%;
    }
    .landing h1{
        font-size: 3rem;
    }
    .landing p{
        font-size: 1.5rem;
    }

    .signup{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .signup img{
        display: grid;
        width: 80%;
        justify-content:center;
    }


}